{% load i18n %}
<a href="{% url 'index' %}"><p>Home page</p></a>
{% for category in categories %}
<a href="{% url 'by_category' category.pk %}"><p>{{ category.title }}</p></a>
{% endfor %}

{% if user.is_authenticated %}
    <p>User: {{ user.get_username }}</p>
    <p><a href="{% url 'blog_logout' %}?next={{ request.path }}">logout</a></p>
{% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">login</a></p>
{% endif%}

{% if perms.blog.view_user %}
    <p>!!!!!!!!!!</p>
{% else %}
    <p>????????</p>
{% endif %}